<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= @row.id %>
    </th>
    <td class="py-4 px-6">
      <%= @row.data_hash %>
    </td>
    <td class="py-4 px-6">
      <% if @row.uploaded_state? %>
        <%= render(UploadedStatusPillComponent.new) %>
      <% elsif @row.valid_state? %>
        <%= render(ValidStatusPillComponent.new) %>
      <% elsif @row.invalid_state? %>
        <%= render(InvalidStatusPillComponent.new) %>
      <% elsif @row.filtered_state? %>
        <%= render(FilteredStatusPillComponent.new) %>
      <% elsif @row.ingested_state? %>
        <%= render(IngestedStatusPillComponent.new) %>
      <% end %>
    </td>
    <td class="py-4 px-6">
      <%= @row.data %>
    </td>
    <td class="py-4 px-6 text-right">
      <%= link_to "Show", action: :show, controller: 'rows', format_id: @row.data_file.file_format.id, file_id: @row.file_id, id: @row.id %>
      <%= link_to "Edit", action: :edit, controller: 'rows', format_id: @row.data_file.file_format.id, file_id: @row.file_id, id: @row.id %>
    </td>
</tr>
